*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
}
a{
  text-decoration: none;
}
.platform {
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  grid-template-rows: repeat(24, 1fr);
  width: 100vw;
  height:100vh;
}
#main {
  grid-column: 2 / 3;
  grid-row: 2 / 7;
  background-color:rgba(211, 211, 211, 20%);
  border: 1px solid sienna;
  display:flex;
}
#view {
  grid-column: 2 / 12;
  grid-row: 12 / 23;
  background-color:rgba(211, 211, 211, 20%);
  border: 1px solid sienna;
}
#delete {
  grid-column: 3 / 12;
  grid-row: 2 / 4;
  background-color:rgba(211, 211, 211, 20%);
  border: 1px solid sienna;
  display:flex;
}
#update {
  grid-column: 3 / 12;
  grid-row: 4 / 6;
  background-color:rgba(211, 211, 211, 20%);
  border: 1px solid sienna;
  display:flex;
}
#range{
  grid-column: 2 / 12;
  grid-row: 8 / 9;
  background-color:rgba(211, 211, 211, 20%);
  border: 1px solid sienna;
  display:flex;
}
#max_quantity{
  grid-column: 2 / 12;
  grid-row: 9 / 10;
  background-color:rgba(211, 211, 211, 20%);
  border: 1px solid sienna;
  display:flex;
}
#ward_value{
  grid-column: 2 / 4;
  grid-row: 10 / 12;
  background-color:rgba(211, 211, 211, 20%);
  border: 1px solid sienna;
  display:flex;
}
#simple_view{
  grid-column: 4 / 12;
  grid-row: 10 / 12;
  background-color:rgba(211, 211, 211, 20%);
  border: 1px solid sienna;
  display:flex;
}
#report{
  grid-column: 13 / 23;
  grid-row: 2 / 12;
  background-color:rgba(211, 211, 211, 20%);
  border: 1px solid sienna;
  display:flex;
}
